
.hidden, .hide
{
	display: none !important;
}

.ccb-Loading
{
	position:absolute;
	z-index: 999999;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;	
	background-image: url(images/bg_diagonal.png);
}

.ccb-Loading div
{
	position:absolute;
	background:url(images/ajax-loader.gif) no-repeat 50% 10%;
	right:0px;
	top:10px;
	background-color: #E23D28;
	padding:10px;
	width:200px;
}

.ccb-Loading div img
{
	display:block;
	margin: 0 auto;
}

.ccb-Loading div span
{
	display:block;
	margin:15px 0px 5px 0px;
	text-align:center;
	font-size : 12px;
	color: #FFFFFF;
	font-weight:700;
}

.ccb-com-date, .ccb-com-group
{
	display: inline; /* inline-block; */
	zoom:1; /* IE 7 */
	background-color:#FFFFFF;
	padding:2px;
	border:1px solid #CCCCCC;
}

.ccb-com-group input[type="text"], .ccb-com-group select,
.ccb-com-date input[type="text"], .ccb-com-date select
{
	border:0px;
}

.ccb-com-group img, .ccb-com-date img
{
	vertical-align:text-bottom;
	cursor:pointer;
}


.no-border
{
	border:none !important;
}

.con{
	text-align: center;
	background-color: #709302;
	color: #ffffff;
	font-weight: 700;
}
.sin{
	text-align: center;
	background-color: #CC0000; 
	color: #ffffff; 
	font-weight: 700;
}		

p.con, p.sin
{
	margin:0px;
	padding:2px;
}


/* GRID_{ */

.grid-header, .grid-body
{
	border-collapse:collapse;
	padding:0px;
}

table.grid-header th, table.grid-header td, table.grid-body td
{
	padding: 2px;
	border-style:solid;
	border-width:1px;
}

table.grid-header thead th
{
	background-color:#B0C4DE;
	border-color:#00008B;
}

table.grid-body td, table.grid-header td
{
	border-color: #CCC; /*border-color:#F0F0F0;*/
	overflow:hidden;
}

table.grid-body td.first, table.grid-header td.first
{
	border-top-color:#00008B;
}

td.gris 
{
    background-color: #efefef;
}
td.rojo 
{
    background-color: #ffe0d8;
}

tr.selected td{
	background-color: #FFFF99 !important;
}

tbody.td-valign-top td{
	vertical-align: top;
}

/* }_GRID */

DIV.footer 
{    
	position: absolute;
	bottom: 5px;

	left:10px;
	text-align:left
} 

.pre-itemfile{
	display:block;
	margin:0px 0px 7px 0px;
	border-bottom:1px solid #00008B;
}

.pre-itemfile a{
	text-decoration:none;
}

.pre-itemfile img{
	cursor:pointer;
}

.pointer{
	cursor:pointer;
}
